<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard -  Admin</title>

  <!-- Inclure les ressources jQuery et DataTables -->
  <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/datatables/1.10.24/js/jquery.dataTables.min.js}"></script>
  <!-- Inclure Bootstrap si vous l'utilisez -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
  <!-- Inclure les ressources DataTables -->
  <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.24/css/jquery.dataTables.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/datatables/1.10.24/js/dataTables.bootstrap4.min.js}"></script>


  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" th:href="@{/admin-page}">Gestion de Billets</a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:action="@{/compagnies}">
    <div class="input-group">

      <input class="form-control" name="keyword" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button" value="Search"><i class="fas fa-search"></i></button>
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#!">Profil</a></li>

        <li><a class="dropdown-item" th:href="@{/logout}">Se Deconnecter</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Administrateur</div>
          <a class="nav-link" th:href="@{/admin-page}">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Tableau de Bord
          </a>
          <div class="sb-sidenav-menu-heading">Utilisateurs</div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Gérer les Utilisateurs
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" th:href="@{/users}">users</a>

            </nav>
          </div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Pages
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayout" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" th:href="@{/compagnies}">Compagnies</a>
              <a class="nav-link" th:href="@{/reservations}">Reservations</a>
              <a class="nav-link" th:href="@{/reservations}">Billets</a>
              <a class="nav-link" th:href="@{/passagers}">Passagers</a>
            </nav>
          </div>

        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">

        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container my-5">
          <!-- Button trigger modal -->

          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Ajouter une Compagnie
              </button>

              <h1 class="text-center">NOS COMPAGNIES DE TRANSPORT!</h1>
            </div>
          </div>

          <table  class="table table-striped table-hover table-bordered table-responsive">


            <thead class="table-header">
            <tr class="bg-primary">
              <th>
                <a class="text-white" th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${renverseSortDirt}}">
                  Identifiant</a>
              </th>
              <th>
                <a class="text-white"  th:href="@{'/page/' + ${currentPage} + '?sortField=nom&sortDir=' + ${renverseSortDirt}}">
                  Nom</a>
              </th>
              <th>
                <a class="text-white"  th:href="@{'/page/' + ${currentPage} + '?sortField=lieu&sortDir=' + ${renverseSortDirt}}">
                  Lieu</a>
              </th>
              <th class="text-center"   >Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="C :${compagnies}">

              <td class="text-center"  th:text="${C.id}"></td>
              <td class="text-center"  th:text="${C.nom}"></td>
              <td class="text-center"  th:text="${C.lieu}"></td>
              <td class="text-center" >
                <a th:href="@{'/delete/' + ${C.id}}" class="btn btn-danger">Delete</a>
                <a th:href="@{/Update/{id}(id=${C.id})}" class="btn btn-primary">Edit</a>

              </td>
            </tr>

            </tbody>
          </table>
          <!--<div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="@{/img/Nour.jpeg}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nour Transport</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <span th:each="C:${compagnies}">

                    <p th:text="${C.id}"></p>
                    <p th:text="${C.nom}"></p>
                    <p th:text="${C.lieu}"></p>
                  </span>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
             Gana
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="@{/img/bus.jpeg}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">GANA Transport</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="@{/img/Africatour}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Africa Tour Transport</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>-->

          </div>
          <div th:if = "${totalPages > 1}">
            <div class = "row col-sm-10">
              <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
              </div>
              <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
              </div>
              <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
              </div>

              <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
              </div>
            </div>
          </div>
        </div>

    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2023</div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- Modal  AJOUT-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title my-3" id="exampleModalLabel">Ajouter une Nouvelle Compagnie</h5>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form  th:action="@{/RegisterCompa}" method="post">
            <h2 class="text-center">Nouvelle Compagnie</h2>
            <div class="form-group">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" placeholder="Nom de la compagnie" class="form-control" id="nom" name="nom">
            </div>
            <div class="form-group">
              <label for="prenom" class="form-label">lieu</label>
              <input type="text" id="prenom" placeholder="Lieu" class="form-control" name="lieu">
            </div>

            <div class="d-flex justify-content-center align-items-center my-4">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script type="text/javascript" th:src="@{/css/scripts.js}"></script>
<script type="text/javascript" th:src="@{/css/datatables-simple-demo.js}"></script>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>
