<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Asset/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Veuillez renseigner les champs</title>
    <style>

        #agence{
            font-family: 'Crete Round', sans-serif;
            float: left;
            color: #444;
            font-size: 45px;

        }
        span{
            color: orangered;
            font-size: 45px;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top ">
    <h1 id="agence">Travel Agency <span>.</span> </h1>

</nav>
<div class="container my-5 p-5" style=" border: 1px solid Black">
    <form class="col-md-4 offset-md-4" th:action="@{/registration}" method="post">
        <h2 class="text-center">Nouveau Utilisateur</h2>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" placeholder="Titre du Livre" class="form-control" id="nom" name="nom">
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prenom</label>
            <input type="text" id="prenom" placeholder="Auteur du Livre" class="form-control" name="prenom">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Adresse</label>
            <input type="text" placeholder="Titre du Livre" class="form-control" id="adresse" name="adresse">
        </div>
        <div class="mb-3">
            <label for="exampleInputPrix" class="form-label">Email</label>
            <input type="text" placeholder="Prix du Livre" class="form-control" id="exampleInputPrix" name="email">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select name="role" id="role" class="form-select">
                <option value="Admin" class="form-control">Admin</option>
                <option value="Guichetier" class="form-control">Guichetier</option>
            </select>

        </div>
        <div class="mb-3">
            <label for="exampleInputPrix" class="form-label">Password</label>
            <input type="password" placeholder="Prix du Livre" class="form-control" id="exampleInputPri" name="password">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Telephone</label>
            <input type="number" placeholder="Titre du Livre" class="form-control" id="telephone" name="telephone">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>

</div>
</body>
</html>